<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.dao.CourseCoachMapper">
    <sql id="course_field">
        course_id
        ,course_name,coach_id,course_time,course_count,course_already,course_date
    </sql>
    <sql id="coach_field">
        course_id
        ,coach_name,coach_height,coach_weight,coach_header
    </sql>

    <resultMap id="course_coach" type="CourseCoach">
        <association property="coach" javaType="Coach">
            <id property="coachId" column="coach_id"/>
            <result property="coachName" column="coach_name"/>
        </association>
        <association property="course" javaType="CourseInfo">
            <id property="courseId" column="course_id"/>
            <result property="courseName" column="course_name"/>
        </association>
    </resultMap>

    <select id="getAllCourseCoach" resultMap="course_coach">
        select course.course_id, course_name,  coach_name,course_time,course_count,course_already,course_date
        from course,
             coach,
             coach_course
        where course.course_id = coach_course.id_course
          and coach_course.id_coach = coach.coach_id
    </select>

    <select id="selectByCoach" resultMap="course_coach">
        select course.course_id, course_name, coach.coach_id, coach_name
        from course,
             coach_course,
             coach
        where course.course_id = coach_course.id_course
          and coach_course.id_coach = coach.coach_id
          and (coach.coach_id LIKE ('%', #{coachKey}, '%') or coach_name LIKE ('%', #{coachKey}, '%'))
    </select>

    <select id="selectByCourse" resultMap="course_coach">
        select course.course_id, course_name, coach.id, coach_name
        from course,
             coach_course,
             coach
        where course.course_id = coach_course.id_course
          and coach_course.id_coach = coach.coach_id
          and (course.course_id LIKE ('%', #{courseKey}, '%') or course_name LIKE ('%', #{courseKey}, '%'))
    </select>

    <select id="selectOne" resultType="CourseCoach">
        select id_course, id_coach
        from coach_course
        where id_course = ${courseId}
          and id_coach = #{coachId}
    </select>

    <!--这里的参数就不是对象了，因为对象的属性都是引用-->
    <insert id="insertCourseCoach">
        insert into coach_course(id_coach, id_course)
        values (#{coachId}, #{courseId})
    </insert>

    <delete id="deleteCourseCoach">
        delete
        from coach_course
        where id_course = #{courseId}
          and id_coach = #{coachId}
    </delete>
</mapper>